body {
  color: #E76100;
}

.adicionar_container img {
  width: 30%;
  min-width: 10%;
  margin-top: 5%;
  margin-left: 10%;
}

.adicionar_container{
  
  margin-top: none;
  max-width: 40%;
  white-space: nowrap;
  position: relative;
}


.adicionar_align_field{
  width: 100%;
  height: 100%;

  padding: 70px 70px 10px 90px;
  background: none;
}


.adicionar_align_field .adicionar_login_htm,
.adicionar_align_field .adicionar_cadastro_htm {
  top: 12%; 
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}


.adicionar_align_field .adicionar_login,
.adicionar_align_field .adicionar_cadastro,
.adicionar_login_form .adicionar_group .adicionar_check {
  display: none;
}


.adicionar_align_field .adicionar_item,
.adicionar_login_form .adicionar_group .adicionar_label,
.adicionar_login_form .adicionar_group .adicionar_button {
  text-transform: uppercase;
}


.adicionar_align_field .adicionar_item {
  font-size: 20px;
  margin-right: 5px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}


.adicionar_align_field .adicionar_login:checked+.adicionar_item,
.adicionar_align_field .adicionar_cadastro:checked+.adicionar_item {
  color: #000000;
  border-color: #E76100; 
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all 1.0s ease-in-out 0s;
  transition: all 1.0s ease-in-out 0s;
}


.adicionar_login_form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}


.adicionar_login_form .adicionar_group {
  margin-bottom: 15px;
}



.adicionar_login_form .adicionar_group .adicionar_label,
.adicionar_login_form .adicionar_group .adicionar_input {
  color: #000000;
  display: block;
}


.adicionar_login_form .adicionar_group .adicionar_button {
  height: 45px;
  width: 145px;
  color: #fff;
  float: right;
  border-radius: 15px;
  border: none;
}


.adicionar_button {
  cursor: pointer;
  margin-top: 10%;
}


.adicionar_login_form .adicionar_group .adicionar_input {
  border: none;
  border-radius: 15px;
  padding: 1rem 1rem;
  width: 100%;
  min-width: 345px;
  background: #faf6f6;
  margin:0.6rem 0;
  box-shadow: 1px 1px 6px #000000c1;
}


.adicionar_login_form .adicionar_group .adicionar_label{
  color: #fff;
  font-size: 12px;
}


.adicionar_login_form .adicionar_group .adicionar_button{
  background: #E76100;
}


.adicionar_login_form .adicionar_group .adicionar_button:hover {
background: rgb(230, 87, 31);
}


.adicionar_login_form .adicionar_group .adicionar_check:checked+label {
  color: #fff;
}


.adicionar_align_field .adicionar_login:checked+.adicionar_item+.adicionar_cadastro+.adicionar_item+.adicionar_login_form .adicionar_login_htm {
  transform: rotate(0);
}


.adicionar_align_field .adicionar_cadastro:checked+.adicionar_item+.adicionar_login_form .adicionar_cadastro_htm {
  transform: rotate(0);
}

@media screen and (max-width: 1700px){
.adicionar_container img {
  width: 200px;
  margin-left: 61px;
}
}


@media screen and (max-width: 1264px){
  .adicionar_container{
    margin-top: none;
    max-width: 500px;
    white-space: nowrap;
    position: relative;
}
}

.adicionar_p {
  text-transform: uppercase;
  font-size: 20px;
  margin-right: 5px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
  color: black;
  border-color: #E76100;
}

.adicionar_toggle_container {
  display: flex;
  align-items: center;
}

.adicionar_toggle_text {
  margin-left: 10px; /* Ajuste a margem conforme necessário */
}

.comum {
  color: #ee8600;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  margin-left: 11px;
}

.admin {
  color: rgb(143, 143, 218);
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  margin-left: 7px;
}