body {
  color: #E76100;
}


.esquecer_container{
  
  margin-top: none;
  max-width: 40%;
  white-space: nowrap;
  position: relative;
  float: right;
  margin-right: 3%;
}


.esquecer_center{
  margin-top: none;
  max-width: 40%;
  white-space: nowrap;
  position: absolute;
  top: 15%;
  left: 33%;
  margin: -25px 0 0 -25px;
}


.esquecer_align_field{
  width: 100%;
  height: 100%;
  padding: 70px 70px 10px 90px;
  background: none;
  margin-top: 15%;
}


.esquecer_align_field .esquecer_login_htm,
.esquecer_align_field .esquecer_cadastro_htm {
  top: 12%; 
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}


.esquecer_align_field .esquecer_login,
.esquecer_align_field .esquecer_cadastro,
.esquecer_login_form .esquecer_group .esquecer_check {
  display: none;
}


.esquecer_align_field .esquecer_item,
.esquecer_login_form .esquecer_group .esquecer_label,
.esquecer_login_form .esquecer_group .esquecer_button {
  text-transform: uppercase;
}


.esquecer_align_field .esquecer_item {
  font-size: 20px;
  margin-right: 5px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}


.esquecer_align_field .esquecer_login:checked+.esquecer_item,
.esquecer_align_field .esquecer_cadastro:checked+.esquecer_item {
  color: #000000;
  border-color: #E76100; 
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all 1.0s ease-in-out 0s;
  transition: all 1.0s ease-in-out 0s;
}


.esquecer_login_form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}


.esquecer_login_form .esquecer_group {
  margin-bottom: 15px;
}



.esquecer_login_form .esquecer_group .esquecer_label,
.esquecer_login_form .esquecer_group .esquecer_input {
  color: #000000;
  display: block;
}


.esquecer_login_form .esquecer_group .esquecer_button {
  height: 45px;
  width: 145px;
  color: #fff;
  float: right;
  border-radius: 15px;
  border: none;
}


.esquecer_button {
  cursor: pointer;
  margin-top: 10%;
  position: absolute;
  top: 50%;
  left: 31%;
}

.esquecer_esquecer_htm{
  color: #9e9e9e;
}

.esquecer_login_form .esquecer_group .esquecer_input {
  border: none;
  border-radius: 15px;
  padding: 1rem 1rem;
  width: 100%;
  min-width: 345px;
  background: #faf6f6;
  margin:0.6rem 0;
  box-shadow: 1px 1px 6px #000000c1;
  margin-top: 8%;
}


.esquecer_login_form .esquecer_group .esquecer_label{
  color: #fff;
  font-size: 12px;
}


.esquecer_login_form .esquecer_group .esquecer_button{
  background: #E76100;
}


.esquecer_login_form .esquecer_group .esquecer_button:hover {
background: rgb(230, 87, 31);
}


.esquecer_login_form .esquecer_group .esquecer_check:checked+label {
  color: #fff;
}


.esquecer_align_field .esquecer_login:checked+.esquecer_item+.esquecer_cadastro+.esquecer_item+.esquecer_login_form .esquecer_login_htm {
  transform: rotate(0);
}


.esquecer_align_field .esquecer_cadastro:checked+.esquecer_item+.esquecer_login_form .esquecer_cadastro_htm {
  transform: rotate(0);
}

@media screen and (max-width: 1700px){
.esquecer_container img {
  width: 200px;
  margin-left: 61px;
}
}


@media screen and (max-width: 1264px){
  .esquecer_container{
    margin-top: none;
    max-width: 500px;
    white-space: nowrap;
    position: relative;
}
}

.esquecer_p {
  text-transform: uppercase;
  font-size: 20px;
  margin-right: 5px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
  color: #000000;
  border-color: #E76100;
  margin-bottom: 7%;
  position: absolute;
  top: 19%;
  left: 29%;
}

.esquecer_seta {
  display: inline-block;
  position: absolute;
  top: 17%;
  left: 18%;
  cursor: pointer;
}