@media screen and (max-width: 800px) {
    .circle1,
    .circle2,
    .circle3 {
      display: none;
    }
}
  
@media screen and (max-height: 474px) {  
    .circle1,
    .circle2,
    .circle3 {
        display: none;
    }
}

.circle1 {
    position: absolute;
    left: -19%; 
    bottom: -21%;
    width: 32%; /*LARGURA*/
    height: 58%; /*ALTURA*/
    border-radius: 50%;
    background-color: #f5ab00;
  }
  
  
  .circle2 {
    position: absolute;
    left: -22%; 
    bottom: -22%;
    width: 32%; /*LARGURA*/
    height: 55%; /*ALTURA*/
    border-radius: 50%;
    background-color: #ee8600;
  }
  
  
  .circle3 {
    position: absolute;
    left: -25%; 
    bottom: -25%;
    width: 32%; /*LARGURA*/
    height: 55%; /*ALTURA*/
    border-radius: 50%;
    background-color: #E76100;
  }