@media screen and (max-width: 800px) {
    .circle1,
    .circle2,
    .circle3 {
        display: none;
    }
}

@media screen and (max-height: 474px) {
    .circle1,
    .circle2,
    .circle3 {
        display: none;
    }
}

.circle1 {
    position: absolute;
    top: -15%;
    right: -35%;
    width: 70%;
    height: 130%;
    border-radius: 50%;
    background-color: #f5ab00;
}

.circle2 {
    position: absolute;
    right: -30%;
    top: -5%;
    width: 60%;
    height: 110%;
    border-radius: 50%;
    background-color: #ee8600;
}

.circle3 {
    position: absolute;
    right: -25%;
    top: 5%;
    width: 50%;
    /*LARGURA*/
    height: 90%;
    /*ALTURA*/
    border-radius: 50%;
    background-color: #E76100;
}