.dashboard_corpo {
  display: grid;
  grid-template-areas:
    "head head"
    "content content"
    "foot foot";
  grid-template-rows: 25vh 65vh 10vh;
  grid-template-columns: auto auto;
}

.dashboard_cabecalho {
  grid-area: head;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.dashboard_principal {
  grid-area: content;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.dashboard_graficos {
  display: flex;
}

.dashboard_rodape {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(142, 146, 153);
  text-align: center;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-family: Lato;
  font-size: 14px;
  z-index: 9999;
}


.dashboard_user_profile {
  display: flex;
  align-items: center;
}

.testeUsuario {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.totalUsuarios {
  color: black;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.totalUsuariosContainer {
  border-bottom: solid #ee8600;
  padding: 10px;
  margin-bottom: 100px;
  font-size: 15px;
  font-weight: bold;
}
