body {
  color: #E76100;
}

.edicao_container img {
  width: 30%;
  min-width: 10%;
  margin-top: 5%;
  margin-left: 10%;
}

.edicao_container{
  
  margin-top: none;
  max-width: 40%;
  white-space: nowrap;
  position: relative;
}


.edicao_align_field{
  width: 100%;
  height: 100%;

  padding: 70px 70px 10px 90px;
  background: none;
}


.edicao_align_field .edicao_login_htm,
.edicao_align_field .edicao_cadastro_htm {
  top: 12%; 
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}


.edicao_align_field .edicao_login,
.edicao_align_field .edicao_cadastro,
.edicao_login_form .edicao_group .edicao_check {
  display: none;
}


.edicao_align_field .edicao_item,
.edicao_login_form .edicao_group .edicao_label,
.edicao_login_form .edicao_group .edicao_button {
  text-transform: uppercase;
}


.edicao_align_field .edicao_item {
  font-size: 20px;
  margin-right: 5px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}


.edicao_align_field .edicao_login:checked+.edicao_item,
.edicao_align_field .edicao_cadastro:checked+.edicao_item {
  color: #000000;
  border-color: #E76100; 
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all 1.0s ease-in-out 0s;
  transition: all 1.0s ease-in-out 0s;
}


.edicao_login_form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}


.edicao_login_form .edicao_group {
  margin-bottom: 15px;
}



.edicao_login_form .edicao_group .edicao_label,
.edicao_login_form .edicao_group .edicao_input {
  color: #000000;
  display: block;
}


.edicao_login_form .edicao_group .edicao_button {
  height: 45px;
  width: 145px;
  color: #fff;
  float: right;
  border-radius: 15px;
  border: none;
}


.edicao_button {
  cursor: pointer;
  margin-top: 10%;
}


.edicao_login_form .edicao_group .edicao_input {
  border: none;
  border-radius: 15px;
  padding: 1rem 1rem;
  width: 100%;
  min-width: 345px;
  background: #faf6f6;
  margin:0.6rem 0;
  box-shadow: 1px 1px 6px #000000c1;
}


.edicao_login_form .edicao_group .edicao_label{
  color: #fff;
  font-size: 12px;
}


.edicao_login_form .edicao_group .edicao_button{
  background: #E76100;
}


.edicao_login_form .edicao_group .edicao_button:hover {
background: rgb(230, 87, 31);
}


.edicao_login_form .edicao_group .edicao_check:checked+label {
  color: #fff;
}


.edicao_align_field .edicao_login:checked+.edicao_item+.edicao_cadastro+.edicao_item+.edicao_login_form .edicao_login_htm {
  transform: rotate(0);
}


.edicao_align_field .edicao_cadastro:checked+.edicao_item+.edicao_login_form .edicao_cadastro_htm {
  transform: rotate(0);
}

@media screen and (max-width: 1700px){
.edicao_container img {
  width: 200px;
  margin-left: 61px;
}
}


@media screen and (max-width: 1264px){
  .edicao_container{
    margin-top: none;
    max-width: 500px;
    white-space: nowrap;
    position: relative;
}
}

.edicao_p {
  text-transform: uppercase;
  font-size: 20px;
  margin-right: 5px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
  color: #000000;
  border-color: #E76100;
}