html {
  height: 100%;
  width: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #9e9e9e;
    background: #ffffff;
    font-family: Arial;
    font-weight: bold;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

*,
:after,
:before {
    box-sizing: border-box;
}

@media screen and (max-height: 474px) {
    body {
      overflow: auto;   
    }
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}