.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }
  
  .pagination li {
    margin-right: 5px;
  }
  
  .pagination li:last-child {
    margin-right: 0;
  }
  
  .pagination button {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #e76100;
    color: #fff;
  }
  