.estrutura_corpo {
  display: grid;
  grid-template-areas:
    "head head"
    "content content"
    "foot foot";
  grid-template-rows: 25vh 65vh 10vh;
  grid-template-columns: auto auto;
}

.estrutura_cabecalho {
  grid-area: head;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.estrutura_rodape {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(142, 146, 153);
  text-align: center;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-family: Lato;
  font-size: 14px;
  z-index: 9999;
}

.tabela_user_profile {
  display: flex;
  align-items: center;
}
