body {
  color: #E76100;
}

.perfiluser_container img {
  width: 30%;
  min-width: 10%;
  margin-top: 5%;
  margin-left: 10%;
}

.perfiluser_container{
  
  margin-top: none;
  max-width: 40%;
  white-space: nowrap;
  position: relative;
}


.perfiluser_align_field{
  width: 100%;
  height: 100%;

  padding: 70px 70px 10px 90px;
  background: none;
}


.perfiluser_align_field .perfiluser_login_htm,
.perfiluser_align_field .perfiluser_cadastro_htm {
  top: 12%; 
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}


.perfiluser_align_field .perfiluser_login,
.perfiluser_align_field .perfiluser_cadastro,
.perfiluser_login_form .perfiluser_group .perfiluser_check {
  display: none;
}


.perfiluser_align_field .perfiluser_item,
.perfiluser_login_form .perfiluser_group .perfiluser_label,
.perfiluser_login_form .perfiluser_group .perfiluser_button {
  text-transform: uppercase;
}


.perfiluser_align_field .perfiluser_item {
  font-size: 20px;
  margin-right: 5px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}


.perfiluser_align_field .perfiluser_login:checked+.perfiluser_item,
.perfiluser_align_field .perfiluser_cadastro:checked+.perfiluser_item {
  color: #000000;
  border-color: #E76100; 
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all 1.0s ease-in-out 0s;
  transition: all 1.0s ease-in-out 0s;
}


.perfiluser_login_form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}


.perfiluser_login_form .perfiluser_group {
  margin-bottom: 15px;
}



.perfiluser_login_form .perfiluser_group .perfiluser_label,
.perfiluser_login_form .perfiluser_group .perfiluser_input {
  color: #000000;
  display: block;
}


.perfiluser_login_form .perfiluser_group .perfiluser_button {
  height: 45px;
  width: 145px;
  color: #fff;
  float: right;
  border-radius: 15px;
  border: none;
}


.perfiluser_button {
  cursor: pointer;
  margin-top: 10%;
}


.perfiluser_login_form .perfiluser_group .perfiluser_input {
  border: none;
  border-radius: 15px;
  padding: 1rem 1rem;
  width: 100%;
  min-width: 345px;
  background: #faf6f6;
  margin:0.6rem 0;
  box-shadow: 1px 1px 6px #000000c1;
}


.perfiluser_login_form .perfiluser_group .perfiluser_label{
  color: #fff;
  font-size: 12px;
}


.perfiluser_login_form .perfiluser_group .perfiluser_button{
  background: #E76100;
}


.perfiluser_login_form .perfiluser_group .perfiluser_button:hover {
background: rgb(230, 87, 31);
}


.perfiluser_login_form .perfiluser_group .perfiluser_check:checked+label {
  color: #fff;
}


.perfiluser_align_field .perfiluser_login:checked+.perfiluser_item+.perfiluser_cadastro+.perfiluser_item+.perfiluser_login_form .perfiluser_login_htm {
  transform: rotate(0);
}


.perfiluser_align_field .perfiluser_cadastro:checked+.perfiluser_item+.perfiluser_login_form .perfiluser_cadastro_htm {
  transform: rotate(0);
}

@media screen and (max-width: 1700px){
.perfiluser_container img {
  width: 200px;
  margin-left: 61px;
}
}


@media screen and (max-width: 1264px){
  .perfiluser_container{
    margin-top: none;
    max-width: 500px;
    white-space: nowrap;
    position: relative;
}
}

.perfiluser_p {
  text-transform: uppercase;
  font-size: 20px;
  margin-right: 5px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
  color: #000000;
  border-color: #E76100;
}

.alterar_texto {
  margin: 0;
  padding: 0;
  color: #9e9e9e;
  background: #ffffff;
  font-family: Arial;
  font-weight: bold;
  height: 100%;
  margin: 0;
  overflow: hidden;
}