.logo_container img {
    width: 30%;
    min-width: 10%;
    margin-top: 5%;
    margin-left: 10%;
}

.logo_container {    
    margin-top: none;
    max-width: 40%;
    white-space: nowrap;
    position: relative;
}

@media screen and (max-width: 1700px){
    .logo_container img {
        width: 200px;
        margin-left: 61px;
    }
}

@media screen and (max-width: 1264px){
    .logo_container{
      margin-top: none;
      max-width: 500px;
      white-space: nowrap;
      position: relative;
  }
}