.principal {
    grid-area: content;
    background-color: white;
    display: flex;
    justify-content: center;
  }
  
  table {
    border-collapse: collapse}
  
    th {
      text-align: inherit; }
  
  button {
    border-radius: 0; }
  
  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color; }
  
  button {
    overflow: visible;
    text-transform: none; }
  
    button:not(:disabled),
    [type="button"]:not(:disabled){
      cursor: pointer; }
  
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
   }
    
    .col-md-6, .col-md-12{
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px; }
    
  
    
    .col-md-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
  
      .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #000000; }
  
  @media (max-width:px) {
    .table-responsive-xl {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; }
      .table-responsive-xl > .table-bordered {
        border: 0; } }
  
        .close {
          
          top: 7px;
          left: 10px;
          width: 10px;
          height: 10px;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1;
          color: #000;
          text-shadow: 0 1px 0 #fff;
          opacity: .5; }
          .close:hover {
            color: #000;
            text-decoration: none; }
          .close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
            opacity: .75; }
  
  button.close {
    align-items: center;
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  
  
  
  .justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important; }
  
  @media print {
    *,
    *::before,
    *::after {
      text-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important; }
    /* a:not(.btn) {
      text-decoration: underline; } */
    abbr[title]::after {
      content: " (" attr(title) ")"; }
    pre {
      white-space: pre-wrap !important; }
    pre,
    blockquote {
      border: 1px solid #adb5bd;
      page-break-inside: avoid; }
    thead {
      display: table-header-group; }
  
      @page {
        size: a3; }
  
    body {
      min-width: 992px !important; }
  
    .navbar {
      display: none; }
    .badge {
      border: 1px solid #000; }
    .table {
      border-collapse: collapse !important; }
      .table td,
      .table th {
        background-color: #fff !important; } }
  
  /* a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    margin-left: 10%;
    color: #F5AB00; }
    a:hover, a:focus {
      text-decoration: none !important;
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none; }
    a:hover {
      color: #E76100;
      text-decoration: underline; } 
      
    a.close.disabled {
      pointer-events: none; } */
  
      h3 {
        margin-top: 2%;
        
        margin-bottom: 3%;
        text-align: center;
        font-family: Arial;
        font-size: 15px;
        color: #797979; }
  
  .table-wrap {
    overflow-x: scroll; }
  
    .table {
      min-width: 1000px !important;
      width: 100%;
      -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
      -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
      box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29); }
      .table thead th {
        border: none;
        padding: 30px;
        font-size: 13px;
        font-weight: 500;
        color: rgb(93, 93, 93); }
      .table thead tr {
        background: #f2f2f2; /*cor fundo tabela */
        border-bottom: 4px solid #ffffff; }
      .table tbody tr {
        margin-bottom: 10px;
        border-bottom: 4px solid #ffffff; }
        .table tbody tr:last-child {
          border-bottom: 0; }
      .table tbody th, .table tbody td {
        border: none;
        padding: 20px;
        font-size: 14px;
        background: #f2f2f2; /*cor fundo tabela */
        vertical-align: middle; }
      .table tbody td.status span {
        position: relative;
        border-radius: 30px;
        padding: 4px 10px 4px 25px; }
        .table tbody td.status span:after {
          position: absolute;
          top: 7px;
          left: 10px;
          width: 10px;
          height: 10px;
          content: '';
          border-radius: 50%; }
  
      .table tbody td.status .active {
        background: #cff6dd;
        color: #1fa750; }
        .table tbody td.status .active:after {
          background: #23bd5a; }
      .table tbody td.status .disabled {
        background: #F5A9A9;
        color: #dc3545; }
        .table tbody td.status .disabled:after {
          background: #dc3545; }
      .table tbody td .email span {
        display: block; }
        .table tbody td .email span:last-child {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.3); }
      .table tbody td .close span {
        font-size: 12px;
        color: #dc3545; }